In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### 1. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [26]:
df_iris = sns.load_dataset('iris')
df_iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

 * #### print the first 3 rows

In [3]:
df_iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

 * #### print the number of rows and columns (shape)

In [4]:
df_iris.shape

(150, 5)

 * #### print the column names

In [5]:
df_iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

 * #### print the data type of each column

In [20]:
df_iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

 * #### print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

I would not recommend scaling the data set because the data has a common unit of measurement (centimeters).

In [22]:
df_iris.describe().T

              count      mean       std  min  25%   50%  75%  max
sepal_length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal_width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal_length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal_width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

### 2. Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

 * #### assign the first 100 rows to a new dataframe, df_excel_sample

 * #### print the number of rows of your original dataframe

 * #### print the first 5 column names

 * #### print the column names that have a data type of object

 * #### compute the range for each of the numeric variables.

### 3. Read the data from this google sheet into a dataframe, df_google

 * #### print the first 3 rows

 * #### print the number of rows and columns

 * #### print the column names

 * #### print the data type of each column

 * #### print the summary statistics for each of the numeric variables

 * #### print the unique values for each of your categorical variables