In [1]:
import numpy as np
import pandas as pd

## Monday Morning Warmup
> Take the word EASY: Its first three letters — E, A and S — are the fifth, first, and nineteenth letters, respectively, in the alphabet. If you add 5, 1, and 19, you get 25, which is the value of the alphabetical position of Y, the last letter of EASY. 
> 
> Can you think of a common five-letter word that works in the opposite way — in which the value of the alphabetical positions of its last four letters add up to the value of the alphabetical position of its first letter?

1. Think about how to break this problem down into steps and write out a plan for your solution.
2. There is a file on your mac that contains a list of words -- /usr/share/dict/words.
3. Open this file with either python or pandas and implement your solution.

In [11]:
df = pd.read_csv('/usr/share/dict/words', header=None, names=['word'])
df.head()

    word
0      A
1      a
2     aa
3    aal
4  aalii

### My plan and notes for a solution:
> 5, 1, 19
>
> 5+1+19 = 25
>
> 25 = Y
>
> word[-1] == word[:-1].sum()
>